body {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0, auto;
    
   
    
}
img{
       width: 200px;
       height: 230px;
   } 

.paragraph{
    font-weight: bold;
}
